.banner {
  margin-bottom: 60px;
}
.banner-title {
  font-weight: 500;
  margin-bottom: 24px;
}
.banner-subtitle {
  padding-top: 24px;
  border-top: 1px solid var(--border-2);
  font-size: 16px;
  line-height: 23px;
  max-width: 365px;
  margin-bottom: 16px;
}
.banner-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 59px 77px 55px 98px;
}
.banner-slide button {
  padding-left: 11px;
}
.banner-content {
  border-radius: 48px;
  background-color: var(--light);
  background-image: url("../img/banner/back.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-button {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 20;
  width: 37px;
  height: 37px;
  border-radius: 50%;
  background-color: var(--light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.banner-button path {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 15px;
  height: 15px;
  fill: var(--dark) !important;
  color: var(--dark);
}
.banner-button:active {
  -webkit-transform: scale(0.92);
  -ms-transform: scale(0.92);
  transform: scale(0.92);
}
.banner-slide__left {
  max-width: 638px;
}
.banner .swiper-slide {
  opacity: 0 !important;
  z-index: -1;
  pointer-events: none;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.banner .swiper-slide-active {
  opacity: 1 !important;
  z-index: 10;
  pointer-events: inherit;
}
.banner .swiper-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.next {
  right: 24px;
}
.next svg {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.prev {
  left: 24px;
}

.about-title {
  font-weight: 600;
  text-align: center;
  margin-bottom: 34px;
}

.article-text {
  width: 63.89%;
  padding: 54px 80px 49px 101px;
  background-color: var(--bg-card);
  height: 100%;
  border-radius: 40px;
  font-weight: 400;
}
.article-text p {
  line-height: 25px;
  font-size: 16px;
  color: var(--dark);
}
.article-text p:not(:last-child) {
  margin-bottom: 15px;
}
.article-text p.article-title {
  font-size: 32px;
  margin-bottom: 18px;
  line-height: 30px;
}
.article-img {
  border-radius: 40px;
  overflow: hidden;
  width: 35.006%;
}
.article-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  height: 313px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.article-item:not(:last-child) {
  margin-bottom: 32px;
}
.article-item.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.article-item:last-child {
  height: 290px;
}

.gallery-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 18px 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 18px;
}
.gallery a {
  display: block;
  border-radius: 30px;
  overflow: hidden;
}
.gallery a:active img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.gallery-img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 20px 0.5fr;
  grid-template-columns: 0.5fr 0.5fr;
  gap: 20px;
}
.gallery img {
  width: 100%;
  vertical-align: top;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.col-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 26px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.col-item {
  padding: 50px 35px 31px;
  background-color: var(--bg-card);
  border-radius: 30px;
  text-align: center;
  width: calc(24% - 13px);
}
.col-item__icon {
  margin-bottom: 19px;
}
.col-body {
  max-width: 200px;
}
.col-body p {
  font-size: 13px;
  line-height: 15px;
}
.col-body p.col-body__title {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 10px;
}

#map {
  height: 423px;
  border-radius: 30px;
  overflow: hidden;
}

.ymaps-2-1-79-gotoymaps__container, .ymaps-2-1-79-gototech, .ymaps-2-1-79-copyright {
  display: none !important;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.25);
  padding: 40px 15px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.modal-box {
  width: 635px;
  margin: 0 auto;
  max-width: 635px;
  background-color: var(--light);
  padding: 80px 53px 80px 54px;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-transform: translateY(120%);
  -ms-transform: translateY(120%);
  transform: translateY(120%);
}
.modal-title {
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 46px;
  text-align: center;
}
.modal.active {
  opacity: 1;
  pointer-events: inherit;
  z-index: 100;
  overflow-y: auto;
}
.modal.active .modal-box {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.form {
  max-width: 530px;
}
.form input {
  height: 75px;
  padding: 0 30px;
}
.form textarea {
  padding: 23px 30px;
}
.form input, .form textarea {
  border: 1px solid var(--gray-2);
  border-radius: 10px;
  width: 100%;
}
.form-item p {
  margin-bottom: 16px;
  font-size: 16px;
  color: #000;
  font-weight: 500;
}
.form-item:not(:last-child) {
  margin-bottom: 24px;
}
.form-policy {
  margin: 16px 0 25px;
  color: var(--gray-2);
  font-size: 16px;
}
.form-policy a {
  color: var(--orange);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.map-cap {
  background-color: #fff;
  width: 160px;
  max-width: 160px;
  display: block;
  white-space: nowrap;
  margin-left: 60px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 20px;
}

#status {
  display: none;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  padding: 10px 10px;
  margin-bottom: 20px;
}
#status.rejected {
  background-color: rgb(153, 66, 66);
}
#status.success {
  background-color: rgb(98, 203, 98);
}
#status.rejected, #status.success {
  display: block;
}

@media (hover: hover) and (pointer: fine) {
  .banner-button:hover {
    background-color: var(--orange);
  }
  .banner-button:hover path {
    fill: var(--light) !important;
  }
  .gallery a:hover img {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
  }
  .form-policy a:hover {
    color: var(--tif);
  }
  .form-policy a:active {
    color: var(--dark);
  }
}
@media (hover: none) and (pointer: coarse) {
  .banner-button:active {
    background-color: var(--orange);
  }
  .banner-button:active path {
    fill: var(--light) !important;
  }
  .gallery a:active img {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
  }
  .form-policy a:active {
    color: var(--tif);
  }
}
@media (max-width: 1024px) {
  .banner {
    margin-bottom: 40px;
  }
  .article-item {
    gap: 24px;
  }
  .article-item:not(:last-child) {
    margin-bottom: 24px;
  }
  .article-text {
    padding: 54px;
  }
  .gallery-content {
    gap: 16px;
  }
  .gallery-img {
    gap: 16px;
  }
  .col-items {
    gap: 20px;
  }
  .col-item {
    padding: 30px 18px 21px;
    width: calc(24% - 10px);
  }
}
@media (max-width: 768px) {
  .col-item {
    width: calc(32% - 8px);
  }
  .article-item {
    height: 286px;
    gap: 18px;
  }
  .article-item:not(:last-child) {
    margin-bottom: 18px;
  }
  .article-img {
    height: 100%;
  }
  .article-text {
    padding: 32px;
  }
  .article-text p {
    font-size: 14px;
    line-height: 22px;
  }
  .article-text p.article-title {
    font-size: 24px;
    margin-bottom: 14px;
  }
  .banner-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 32px;
    padding: 35px 34px;
    text-align: center;
  }
  .banner-content {
    background-position: bottom;
    background-image: url("../img/banner/mobile-back.png");
    background-size: cover;
  }
  .banner-control {
    display: none;
  }
  .banner .btn {
    margin: 0 auto;
  }
  .banner-subtitle {
    margin-left: auto;
    margin-right: auto;
  }
  .about-title {
    margin-bottom: 24px;
    font-size: 32px;
  }
  .modal-box {
    width: auto;
  }
}
@media (max-width: 648px) {
  .article-text {
    padding: 24px;
  }
}
@media (max-width: 475px) {
  .banner {
    margin-bottom: 32px;
  }
  .banner-content {
    background-image: url("../img/banner/mobile-back.png");
    background-size: 100% 100%;
  }
  .banner-slide {
    padding: 32px 8px 44px 6px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    gap: 31px;
  }
  .banner-slide__left {
    max-width: 210px;
    margin: 0 auto;
  }
  .banner-slide__left img {
    width: 100%;
  }
  .banner-slide__right {
    text-align: center;
  }
  .banner-control {
    display: none;
  }
  .banner-title {
    margin-bottom: 16px;
  }
  .banner-subtitle {
    font-size: 12px;
    line-height: 18px;
    padding-top: 16px;
    margin-bottom: 24px;
  }
  .banner button {
    margin: 0 auto;
  }
  .banner-title span {
    display: none;
  }
  .banner-title strong {
    display: block;
    font-style: italic;
  }
  .col-items {
    gap: 10px;
  }
  .col-item {
    width: calc(50% - 6px);
    border-radius: 20px;
    padding: 25px 9px 19px 10px;
  }
  .col-item:last-child {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 17px;
    padding: 19px 45px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .col-item:last-child .col-item__icon {
    margin-bottom: 0;
  }
  .col-item__icon {
    margin-bottom: 8px;
  }
  .col-item__icon img {
    height: 38px;
  }
  .col-body p {
    font-size: 9px;
    line-height: 12px;
  }
  .col-body p.col-body__title {
    font-size: 12px;
    line-height: 12px;
  }
  .col-body p.col-body__title {
    margin-bottom: 5px;
  }
  .article-item {
    gap: 12px;
  }
  .article-item, .article-item.reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .article-item:not(:last-child) {
    margin-bottom: 11px;
  }
  .article-item:first-child .article-title {
    max-width: 155px;
  }
  .article-item:first-child .article-img {
    height: 234px;
  }
  .article-item p {
    font-size: 12px;
    line-height: 17px;
  }
  .article-item p:not(:last-child) {
    margin-bottom: 18px;
  }
  .article-item p.article-title {
    font-size: 20px;
    line-height: 19px;
  }
  .article-img {
    width: 100%;
    height: 243px;
  }
  .article-img img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    height: 100%;
    width: 100%;
  }
  .article-text {
    width: 100%;
    padding: 38px 23px 37px 20px;
  }
  .gallery-content {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .gallery-img {
    gap: 10px;
  }
  .about-title {
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 24px;
  }
  #map {
    height: 415px;
  }
  .modal-box {
    max-width: 100%;
    width: 100%;
    padding: 40px 23px 40px 24px;
  }
  .modal-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .form input {
    height: 55px;
  }
  .form textarea, .form input {
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-item p {
    font-size: 14px;
    margin-bottom: 14px;
  }
  .form-policy {
    font-size: 14px;
    margin: 14px 0 20px;
  }
  .form button {
    width: 100%;
  }
}